@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Exa', sans-serif;
}

html, body {
    height: 100%;
}

/* Personalización del scrollbar */
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background-color: #ddf1f1;
}

body::-webkit-scrollbar-thumb {
    background-color: #8ce8e8;
    border-radius: 10px;
    border: 3px solid #ddf1f1; /* Coloca un borde igual al color del track */
    transition: background-color 0.3s ease; /* Suaviza la transición del color */
}

body::-webkit-scrollbar-thumb:active {
    background-color: #16c4c4; /* Cambia el color del thumb al ser presionado */
}

body::-webkit-scrollbar-button {
    display: none;
}

.sidebar .logo-menu{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
}

.sidebar .logo-menu .name{
    margin-left: 5px;
    height: 50px;
    color: #fff;
    pointer-events: none;
    opacity: 0;
    transition: .3s;
}

.sidebar.active .logo-menu .name{
    opacity: 1;
    transition-delay: .2s;
}

.sidebar .logo-menu .toggle-btn{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: .5s;
}

.sidebar.active .logo-menu .toggle-btn{
    left: 85%;
}

.sidebar .list{
    margin-top: 10px;
}

.list .list-item a{
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    white-space: nowrap;
    transition: .5s;
}

.list .list-item a i{
    padding: 0 5px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.list .list-item span{
font-size: 16px;
}

.sidebar .link-name{
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}

.sidebar.active .link-name{
    opacity: 1;
    pointer-events: auto;
    transition-delay: calc(.1s * var(--i));
}



header{
    grid-area: header;
    display: flex;
    top: 0;
    right: 0;
    position: fixed;
    background-color: #8ce8e8;
    font-size: 24px;
    color:#ffffff;
    height: 60px;
    align-items: center;
    text-align: right;
    width: 100%;
    z-index: 1;
    transition: box-shadow 0.3s ease;
}

header.scrolled {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo{
    width: 40px;
    align-items: center;
    margin-right: 10px;
}

.linea_tema{
    display: none;
}

@media only screen and (max-width: 759px){
    body{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 80px calc(2vh + 28px) auto;
        grid-template-areas:
        "header"
        "title"
        "page_content";
    }

    .sidebar{ 
        grid-area: sidebar;
        position: fixed;
        top: 0;
        left: 0;
        width: 62px;
        height: 80px;
        padding: 6px 14px;
        z-index: 5;
    }
    
    .sidebar.active{
        z-index: 20;
        width: 280px;
        background: #0e8282;
        overflow: scroll;
        scrollbar-width: none;
    }

    .sidebar.transition{
        transition: .5s;
    }

    .sidebar.z-index-active {
        height: 100%; /* Cambia inmediatamente el z-index */
    }
    
    .list .list-item{
        display: none;
        pointer-events: none;
        list-style: none;
        width: 100%;
        height: 50px;
        margin: 5px 0;
        line-height: 50px;
        cursor: pointer;
    }

    .sidebar.active .list .list-item{
        display: block;
        pointer-events: all;
    }

    .list .list-item.active a:hover{
        background: #4d8787;
    } 

    header{
        height: 80px;
    }

    .page_title{
        padding: 2vh 0 0 2vh;
        display: block;
        height: 100%;
        align-self: center;
        font-size: 20px;
        color: #87e6e6;
        grid-area: title;
    }

    .calendar_div{
        grid-area: page_content;
        width: 100%;
        position: relative;
    }

    .month_changer{
        display: flex;
        align-items: center;
        font-size: 18px;
        margin: 2vh 0 2vh 10%;
        text-align: center;
        justify-content: center;
        background-color: #16c4c4;
        width: 80%;
        padding: 10px;
        border-radius: 50px;
        color: #fff;
    }

    .month_changer a{
        color: #fff;
    }

    .month_name{
        margin: 0 5px;
        align-items: center;
        width: 200px;
    }

    .calendar .content{
        width: 98%;
        margin-right: 0;
        margin-left: 1%;
        margin-bottom: 15vh;
        table-layout: fixed;
    }

    .calendar .content .dias{
        min-width: 100px;
        text-align: center;
        color: #16c4c4;
        font-size: 12px;
    }

    .calendar .content .fecha td{
        border-radius: 6px;
        border: 1px solid white;
        background-color: #ddf1f1;
        text-align: center;
        padding-top: 10px;
        vertical-align: top;
        height: 110px;
        max-height: 110px;
        overflow: hidden;
    }  

    .fecha_dia{
        font-size: 12px;
    }

    .finde{
        display: none;
    }

    .btn_tbl_1, .btn_tbl_2, .btn_tbl_3, .btn_tbl_4, .btn_tbl_5{
        background-color: #ddf1f1;
        border: 0;
        font-size: 16px;
        cursor: pointer;
        width: 100%;
    }

    .modal-container {
        display: none;
        background-color: rgba(0,0,0,0.3);
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        pointer-events: none;
        width: 100%;
        height: 100%;
        z-index: 30;

    }

    .modal{
        background-color: white;
        width: 85%;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        border-radius: 10px;
        max-height: 80%;
        padding: 2%;
        display: grid;
        grid-template-rows: 20px auto 1fr;
        grid-template-areas:
        "boton"
        "semana"
        "dias_semana";
    }

    .boton_cerrar{
        grid-area: boton;
        display: flex;
        width: 100%;
        justify-content: right;
    }

    .boton_cerrar button i{
        color: #000;
        transition: .3s ease;
    }

    .boton_cerrar button i:hover{
        color: #16c4c4;
    }

    .semana_tit{
        grid-area: semana;
        color: #0e8282;
        width: 80%;
        margin-left: 10%;
        overflow: auto;
        margin-bottom: 15px;
        font-size: 12px;
    }

    .semana_tit::-webkit-scrollbar {
        width: 10px; height: 10px;
        
    }

    .semana_tit::-webkit-scrollbar-track {
        background-color: #fff;
    }

    .semana_tit::-webkit-scrollbar-thumb {
        background-color: #8ce8e8;
        border-radius: 10px;
        border: 3px solid #fff; /* Coloca un borde igual al color del track */
        transition: background-color 0.3s ease; /* Suaviza la transición del color */
    }

    .semana_tit::-webkit-scrollbar-thumb:active {
        background-color: #16c4c4; /* Cambia el color del thumb al ser presionado */
    }

    .semana_tit::-webkit-scrollbar-button {
        display: none;
    }

    .modal_content {
        grid-area: dias_semana;
        overflow: auto;
        display: flex;
        flex-direction: column;
    }

    .modal_content::-webkit-scrollbar {
        width: 12px;
    }

    .modal_content::-webkit-scrollbar-track {
        background-color: #fff;
    }

    .modal_content::-webkit-scrollbar-thumb {
        background-color: #8ce8e8;
        border-radius: 10px;
        border: 3px solid #fff; /* Coloca un borde igual al color del track */
        transition: background-color 0.3s ease; /* Suaviza la transición del color */
    }

    .modal_content::-webkit-scrollbar-thumb:active {
        background-color: #16c4c4; /* Cambia el color del thumb al ser presionado */
    }

    .modal_content::-webkit-scrollbar-button {
        display: none;
    }

    .show{
        pointer-events: auto;
        display: flex;
    }

    .dias_asignacion{
        display: grid;
        justify-content: center;
        grid-template-rows: auto auto;
        grid-template-columns: 100%;
        grid-template-areas:
        "dia_fecha_grid"
        "asignacion_grid";
    }

    .dia_fecha_modal_content{
        background-color: #0e8282;
        justify-self: center;
        width: fit-content;
        grid-area: dia_fecha_grid;
        border-radius: 20px;
        padding-left: 15px;
        height: 40px;
        margin-bottom: 10px;
        align-items: center;
        text-align: center;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto;
        grid-template-areas:
        "dia_grid fecha_grid";
    }

    .dia_modal_content{
        font-size: 12px;
        color: #fff;
        grid-area: dia_grid;
        margin-right: 10px;
    }

    .fecha_modal_content{
        grid-area: fecha_grid;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        color: #fff;
        background-color: #16c4c4;
    }

    .asig_modal_content, .asig_modal_content_in, .asig_modal_content_fi{
        grid-area: asignacion_grid;
        background-color: #ddf1f1;
        width: 100%;
        padding: 10px;
        padding-bottom: 0px;
        border-radius: 10px;
        margin-bottom: 25px;
    }

    .one_asig_modal_content{
        display: grid;
        background-color: white;
        width: 100%;
        height: fit-content;
        min-height: 120px;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
        grid-template-columns: auto;
        grid-template-rows: 22px auto auto auto auto auto auto;
        grid-template-areas: 
        "materia"
        "tipo_tit"
        "tema"
        "linea"
        "indi_princ"
        "indi_deta"
        "adjun";
    }

    .grid_with_buttom{
        grid-template-rows: 22px auto auto auto auto auto;
        grid-template-areas: 
        "materia"
        "tipo_tit"
        "tema"
        "linea"
        "indi_princ"
        "indi_deta";
    }

    .adjun_boton{
        grid-area: adjun;
        color: white;
        width: 100%;
        background-color: #0e8282;
        padding: 8px;
        align-items: center;
        display: flex;
        border-radius: 10px;
        cursor: pointer;
        transition: background 0.3s ease;
        margin-top: 10px;
    }

    .adjun_boton:hover{
        background-color: #16c4c4;
    }

    .adjun_icon{
        font-size: 18px;
        padding-right: 10px;
    }

    .adjun_font{
        font-size: 10px;
    }

    .asign_content{
        grid-area: contenido_asign;
        margin-left: 50px;
        height: 100%;
        flex-grow: 1;
    }

    .font_mat{
        grid-area: materia;
        font-size: 14px;
        color: #16c4c4;
        margin-bottom: 4px;
    }

    .font_tem{
        grid-area: tema;
        display: block;
        width: 100%;
        height: 100%;
        max-height: 100px;
        padding: 4px 0;
        position: relative;
        overflow: auto;
        font-size: 10px;
    }

    .font_tem::-webkit-scrollbar {
        width: 10px; height: 10px;
        
    }

    .font_tem::-webkit-scrollbar-track {
        background-color: #fff;
    }

    .font_tem::-webkit-scrollbar-thumb {
        background-color: #8ce8e8;
        border-radius: 10px;
        border: 3px solid #fff; /* Coloca un borde igual al color del track */
        transition: background-color 0.3s ease; /* Suaviza la transición del color */
    }

    .font_tem::-webkit-scrollbar-thumb:active {
        background-color: #16c4c4; /* Cambia el color del thumb al ser presionado */
    }

    .font_tem::-webkit-scrollbar-button {
        display: none;
    }
    
    .linea_tema{
        display: inline;
        grid-area: linea;
        height: 3px;
        border-radius: 1.5px;
        color: #000;
        background-color: #e1e1e1;
        border: none;
        align-self: center;
        margin: 4px 0;
        margin-bottom: 8px;
    }

    .asign_tit_form, .asign_tit_sum{
        grid-area: tipo_tit;
        font-size: 12px;
        color: white;
        padding: 7px;
        border-radius: 10px;
        height: fit-content;
    }

    .asign_tit_form{
        background-color: #0588c8;
    }

    .asign_tit_sum{
        background-color: #3ccd00;
    }
    
    .ind_des{
        grid-area: indi_deta;
        font-size: 10px;
        height: 100%;
        width: 100%;
        max-height: 120px;
        overflow: auto;
        background-color: #e1e1e1;
        padding: 10px;
        border-radius: 10px;
    }

    .ind_des p{
        overflow: auto;
        max-height: 100px;
        background-color: #e1e1e1;
    }

    .ind_des p::-webkit-scrollbar {
        width: 10px; height: 10px;
    }

    .ind_des p::-webkit-scrollbar-track {
        background-color: #e1e1e1;
    }

    .ind_des p::-webkit-scrollbar-thumb {
        background-color: #999;
        border-radius: 10px;
        border: 3px solid #e1e1e1; /* Coloca un borde igual al color del track */
        transition: background-color 0.3s ease; /* Suaviza la transición del color */
    }

    .ind_des p::-webkit-scrollbar-thumb:active {
        background-color: #666666; /* Cambia el color del thumb al ser presionado */
    }

    .ind_des p::-webkit-scrollbar-button {
        display: none;
    }

    .ind_prin{
        grid-area: indi_princ;
        font-size: 12px;
        height: 100%;
        width: 100%;
        max-height: 100px;
        overflow: auto;
        margin-bottom: 10px;
    }

    .ind_prin::-webkit-scrollbar {
        width: 10px; height: 10px;
    }

    .ind_prin::-webkit-scrollbar-track {
        background-color: #fff;
    }

    .ind_prin::-webkit-scrollbar-thumb {
        background-color: #8ce8e8;
        border-radius: 10px;
        border: 3px solid #fff; /* Coloca un borde igual al color del track */
        transition: background-color 0.3s ease; /* Suaviza la transición del color */
    }

    .ind_prin::-webkit-scrollbar-thumb:active {
        background-color: #16c4c4; /* Cambia el color del thumb al ser presionado */
    }

    .ind_prin::-webkit-scrollbar-button {
        display: none;
    }

    .pre_asig{
        width: 100%;
        font-size: 10px;
        max-height: 154px;
        overflow: hidden;
        color: #0e8282;
    }

    .pre_asig .sum, .pre_asig .form{
        font-size: 8px;
        padding: 5px;
        background-color: white;
        margin: 0 5px;
        border-radius: 11px;
        display: none;
    }

    .pre_asig .sum{
        color: #3ccd00;
    }

    .pre_asig .form{
        color: #0588c8;
    }

    .tit_mat_prev{
        font-size: 8px;
        padding: 5px;
        color: #fff;
        margin: 0 5px;
        border-radius: 11px;
    }

    .sum_mat{
        background-color: #3ccd00;
    }

    .form_mat{
        background-color: #0588c8;
    }

    @media only screen and (max-width: 360px){
        .month_changer{
            font-size: 14px;
        }
    
        .month_name{
            width: 150px;
        }

        .modal{
            grid-template-rows: 18px auto 1fr;
        }

        .boton_cerrar button i{
            font-size: 18px;
        }

        .semana_tit{
            font-size: 10px;
        }

        .dia_fecha_modal_content{
            border-radius: 25px;
            padding-left: 15px;
            height: 30px;
            margin-bottom: 10px;
        }
    
        .dia_modal_content{
            font-size: 10px;
            margin-right: 10px;
        }
    
        .fecha_modal_content{
            font-size: 10px;
            width: 30px;
            height: 30px;
            border-radius: 15px;
        }

        .asign_tit_form, .asign_tit_sum{
            font-size: 10px;
        }

        .font_mat{
            font-size: 10px;
        }

        .font_tem{
            font-size: 9px;
        }

        .ind_prin{
            font-size: 9px;
        }

        .ind_des p{
            font-size: 8px;
        }

    }
}

@media (min-width: 760px) and (max-width: 1139px){
    body{
        display: grid;
        grid-template-columns: 62px auto;
        grid-template-rows: 60px calc(2vh + 28px) auto;
        grid-template-areas:
        "sidebar header"
        "sidebar title"
        "sidebar page_content";
    }

    .sidebar{ 
        grid-area: sidebar;
        position: fixed;
        top: 0;
        left: 0;
        width: 62px;
        height: 100%;
        background: #0e8282;
        padding: 6px 14px;
        transition: .5s;
        z-index: 5;
        overflow: scroll;
        scrollbar-width: none;
    }
    
    .sidebar.active{
        width: 280px;
    }

    .list .list-item{
        list-style: none;
        width: 100%;
        height: 50px;
        margin: 5px 0;
        line-height: 50px;
        cursor: pointer;
    }

    .list .list-item.active a,
    .list .list-item a:hover{
        background: #4d8787;
    } 

    .page_title{
        padding: 2vh 0 0 4vh;
        display: block;
        height: 100%;
        align-self: center;
        font-size: 28px;
        color: #87e6e6;
        grid-area: title;
    }

    .calendar_div{
        grid-area: page_content;
        width: 100%;
    }

    .month_changer{
        display: flex;
        align-items: center;
        font-size: 30px;
        margin: 4vh 0;
        text-align: center;
        justify-content: center;
    }

    .month_changer a{
        color: #000;
    }

    .month_name{
        margin: 0 5px;
        align-items: center;
        color: #0e8282;
        width: 350px;
    }

    .calendar .content{
        width: 98%;
        margin-right: 0;
        margin-left: 1%;
        margin-bottom: 15vh;
        table-layout: fixed;
    }

    .calendar .content .dias{
        min-width: 100px;
        text-align: center;
        color: #16c4c4;
        font-size: 12px;
    }

    .calendar .content .fecha td{
        border-radius: 10px;
        border: 4px solid white;
        background-color: #ddf1f1;
        text-align: center;
        padding-top: 10px;
        vertical-align: top;
        height: 160px;
        max-height: 110px;
        overflow: hidden;
    }  

    .fecha_dia{
        font-size: 12px;
    }

    .modal-container {
        display: none;
        background-color: rgba(0,0,0,0.3);
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        pointer-events: none;
        width: 100%;
        height: 100%;
        z-index: 30;

    }

    .modal{
        background-color: white;
        width: 85%;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        border-radius: 10px;
        max-height: 80%;
        padding: 2%;
        display: grid;
        grid-template-rows: minmax(15px,5%) auto 1fr;
        grid-template-areas:
        "boton"
        "semana"
        "dias_semana";
    }

    .boton_cerrar{
        grid-area: boton;
        display: flex;
        width: 100%;
        justify-content: right;
    }

    .boton_cerrar button i{
        color: #000;
        transition: .3s ease;
    }

    .boton_cerrar button i:hover{
        color: #16c4c4;
    }

    .semana_tit{
        grid-area: semana;
        color: #0e8282;
        width: 60%;
        margin-left: 20%;
        overflow: auto;
        margin-bottom: 15px;
    }

    .semana_tit::-webkit-scrollbar {
        width: 10px; height: 10px;
        
    }

    .semana_tit::-webkit-scrollbar-track {
        background-color: #fff;
    }

    .semana_tit::-webkit-scrollbar-thumb {
        background-color: #8ce8e8;
        border-radius: 10px;
        border: 3px solid #fff; /* Coloca un borde igual al color del track */
        transition: background-color 0.3s ease; /* Suaviza la transición del color */
    }

    .semana_tit::-webkit-scrollbar-thumb:active {
        background-color: #16c4c4; /* Cambia el color del thumb al ser presionado */
    }

    .semana_tit::-webkit-scrollbar-button {
        display: none;
    }

    .modal_content {
        grid-area: dias_semana;
        overflow: auto;
        display: flex;
        flex-direction: column;
    }

    .modal_content::-webkit-scrollbar {
        width: 12px;
    }

    .modal_content::-webkit-scrollbar-track {
        background-color: #fff;
    }

    .modal_content::-webkit-scrollbar-thumb {
        background-color: #8ce8e8;
        border-radius: 10px;
        border: 3px solid #fff; /* Coloca un borde igual al color del track */
        transition: background-color 0.3s ease; /* Suaviza la transición del color */
    }

    .modal_content::-webkit-scrollbar-thumb:active {
        background-color: #16c4c4; /* Cambia el color del thumb al ser presionado */
    }

    .modal_content::-webkit-scrollbar-button {
        display: none;
    }

    .btn_tbl_1, .btn_tbl_2, .btn_tbl_3, .btn_tbl_4, .btn_tbl_5{
        background-color: #ddf1f1;
        border: 0;
        font-size: 16px;
        cursor: pointer;
        width: 100%;
    }

    .show{
        pointer-events: auto;
        display: flex;
    }

    .dias_asignacion{
        display: grid;
        justify-content: center;
        grid-template-rows: auto auto;
        grid-template-columns: 100%;
        grid-template-areas:
        "dia_fecha_grid"
        "asignacion_grid";
    }

    .dia_fecha_modal_content{
        background-color: #0e8282;
        justify-self: center;
        width: fit-content;
        grid-area: dia_fecha_grid;
        border-radius: 25px;
        padding-left: 15px;
        height: 50px;
        margin-bottom: 15px;
        align-items: center;
        text-align: center;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto;
        grid-template-areas:
        "dia_grid fecha_grid";
    }

    .dia_modal_content{
        font-size: 18px;
        color: #fff;
        grid-area: dia_grid;
        margin-right: 10px;
    }

    .fecha_modal_content{
        grid-area: fecha_grid;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 50px;
        border-radius: 25px;
        color: #fff;
        background-color: #16c4c4;
    }

    .asig_modal_content, .asig_modal_content_in, .asig_modal_content_fi{
        grid-area: asignacion_grid;
        background-color: #ddf1f1;
        width: 100%;
        padding: 10px;
        padding-bottom: 0px;
        border-radius: 10px;
        margin-bottom: 35px;
    }

    .one_asig_modal_content{
        display: grid;
        background-color: white;
        width: 100%;
        height: 120px;
        min-height: 130px;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
        grid-template-columns: minmax(150px, 20%) minmax(30px, auto) auto auto;
        grid-template-rows: 22px 16px 34px 34px;
        grid-template-areas: 
        "materia blank tipo_tit tipo_tit"
        "tema blank tipo_tit tipo_tit"
        "tema blank indi_princ indi_deta"
        "adjun blank indi_princ indi_deta"
        ;
    }

    .grid_with_buttom{
        grid-template-rows: 22px 16px 68px;
        grid-template-areas: 
        "materia blank tipo_tit tipo_tit"
        "tema blank tipo_tit tipo_tit"
        "tema blank indi_princ indi_deta";
    }

    .adjun_boton{
        grid-area: adjun;
        color: white;
        width: 150px;
        background-color: #0e8282;
        height: 34px;
        padding: 8px;
        align-items: center;
        display: flex;
        border-radius: 10px;
        cursor: pointer;
        transition: background 0.3s ease;
        margin-top: 4px;
    }

    .adjun_boton:hover{
        background-color: #16c4c4;
    }

    .adjun_icon{
        font-size: 18px;
        padding-right: 10px;
    }

    .adjun_font{
        font-size: 10px;
    }

    .asign_content{
        grid-area: contenido_asign;
        margin-left: 50px;
        height: 100%;
        flex-grow: 1;
    }

    .font_mat{
        grid-area: materia;
        font-size: 14px;
        color: #16c4c4;
        margin-bottom: 4px;
    }

    .font_tem{
        grid-area: tema;
        display: block;
        width: 150px;
        height: 100%;
        padding: 4px 0;
        position: relative;
        overflow: auto;
        font-size: 10px;
    }

    .font_tem::-webkit-scrollbar {
        width: 10px; height: 10px;
        
    }

    .font_tem::-webkit-scrollbar-track {
        background-color: #fff;
    }

    .font_tem::-webkit-scrollbar-thumb {
        background-color: #8ce8e8;
        border-radius: 10px;
        border: 3px solid #fff; /* Coloca un borde igual al color del track */
        transition: background-color 0.3s ease; /* Suaviza la transición del color */
    }

    .font_tem::-webkit-scrollbar-thumb:active {
        background-color: #16c4c4; /* Cambia el color del thumb al ser presionado */
    }

    .font_tem::-webkit-scrollbar-button {
        display: none;
    }

    .asign_tit_form, .asign_tit_sum{
        grid-area: tipo_tit;
        font-size: 16px;
        color: white;
        padding: 7px;
        border-radius: 10px;
        height: fit-content;
    }

    .asign_tit_form{
        background-color: #0588c8;
    }

    .asign_tit_sum{
        background-color: #3ccd00;
    }
    
    .ind_des{
        grid-area: indi_deta;
        font-size: 10px;
        margin-left: 5%;
        max-width: 30vw;
        height: 75px;
        overflow: auto;
    }

    .ind_des::-webkit-scrollbar {
        width: 10px; height: 10px;
    }

    .ind_des::-webkit-scrollbar-track {
        background-color: #fff;
    }

    .ind_des::-webkit-scrollbar-thumb {
        background-color: #8ce8e8;
        border-radius: 10px;
        border: 3px solid #fff; /* Coloca un borde igual al color del track */
        transition: background-color 0.3s ease; /* Suaviza la transición del color */
    }

    .ind_des::-webkit-scrollbar-thumb:active {
        background-color: #16c4c4; /* Cambia el color del thumb al ser presionado */
    }

    .ind_des::-webkit-scrollbar-button {
        display: none;
    }

    .ind_prin{
        grid-area: indi_princ;
        font-size: 12px;
        width: 17vw;
        height: 75px;
        overflow: auto;
    }

    .ind_prin::-webkit-scrollbar {
        width: 10px; height: 10px;
    }

    .ind_prin::-webkit-scrollbar-track {
        background-color: #fff;
    }

    .ind_prin::-webkit-scrollbar-thumb {
        background-color: #8ce8e8;
        border-radius: 10px;
        border: 3px solid #fff; /* Coloca un borde igual al color del track */
        transition: background-color 0.3s ease; /* Suaviza la transición del color */
    }

    .ind_prin::-webkit-scrollbar-thumb:active {
        background-color: #16c4c4; /* Cambia el color del thumb al ser presionado */
    }

    .ind_prin::-webkit-scrollbar-button {
        display: none;
    }

    .pre_asig{
        width: 100%;
        font-size: 10px;
        max-height: 154px;
        overflow: hidden;
        color: #0e8282;
    }

    .pre_asig .sum, .pre_asig .form{
        font-size: 8px;
        padding: 5px;
        background-color: white;
        margin: 0 5px;
        border-radius: 11px;
    }

    .pre_asig .sum{
        color: #3ccd00;
    }

    .pre_asig .form{
        color: #0588c8;
    }

    .tit_mat_prev{
        font-size: 8px;
    }

    @media only screen and (max-height: 400px){
        .semana_tit{
            font-size: 14px;
            width: 80%;
            margin-left: 10%;
        }
    }
    
}

@media only screen and (min-width: 1140px) {
    body{
        display: grid;
        grid-template-columns: 62px auto;
        grid-template-rows: 60px calc(4vh + 34px) auto;
        grid-template-areas:
        "sidebar header"
        "sidebar title"
        "sidebar page_content";
    }

    .sidebar{ 
        grid-area: sidebar;
        position: fixed;
        top: 0;
        left: 0;
        width: 62px;
        height: 100%;
        background: #0e8282;
        padding: 6px 14px;
        transition: .5s;
        z-index: 5;
        overflow: scroll;
        scrollbar-width: none;
    }
    
    .sidebar.active{
        width: 280px;
    }

    .list .list-item{
        list-style: none;
        width: 100%;
        height: 50px;
        margin: 5px 0;
        line-height: 50px;
        cursor: pointer;
    }
    
    .list .list-item.active a,
    .list .list-item a:hover{
        background: #4d8787;
    }

    .page_title{
        padding: 4vh 0 0 10vh;
        display: block;
        height: 100%;
        align-self: center;
        font-size: 34px;
        color: #87e6e6;
        grid-area: title;
    }

    .calendar_div{
        grid-area: page_content;
        width: 100%;
    }

    .month_changer{
        display: flex;
        align-items: center;
        font-size: 40px;
        margin: 4vh 0;
        text-align: center;
        justify-content: center;
    }

    .month_changer a{
        color: #000;
    }

    .month_name{
        margin: 0 5px;
        align-items: center;
        color: #0e8282;
        width: 450px;
    }

    .calendar .content{
        width: 90%;
        min-width: 700px;
        margin-left: 5%;
        margin-right: 0;
        margin-bottom: 15vh;
        table-layout: fixed;
    }

    .calendar .content .dias{
        min-width: 100px;
        text-align: center;
        color: #16c4c4;
        font-size: 18px;
    }

    .calendar .content .fecha td{
        border-radius: 10px;
        border: 4px solid white;
        background-color: #ddf1f1;
        text-align: center;
        padding-top: 10px;
        vertical-align: top;
        height: 180px;
        max-height: 110px;
        overflow: hidden;
    }

    .fecha_dia{
        font-size: 16px;
    }

    .modal-container {
        display: none;
        background-color: rgba(0,0,0,0.3);
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        pointer-events: none;
        width: 100%;
        height: 100%;
        z-index: 30;

    }

    .modal{
        background-color: white;
        width: 85%;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        border-radius: 10px;
        max-height: 80%;
        padding: 1%;
        display: grid;
        grid-template-rows: 30px 40px 1fr;
        grid-template-areas:
        "boton"
        "semana"
        "dias_semana";
    }

    .boton_cerrar{
        grid-area: boton;
        display: flex;
        width: 100%;
        justify-content: right;
    }

    .boton_cerrar button i{
        color: #000;
        transition: .3s ease;
    }

    .boton_cerrar button i:hover{
        color: #16c4c4;
    }

    .semana_tit{
        grid-area: semana;
        color: #0e8282;
    }

    .modal_content {
        grid-area: dias_semana;
        overflow: auto;
        display: flex;
        flex-direction: column;
    }

    .modal_content::-webkit-scrollbar {
        width: 12px;
    }

    .modal_content::-webkit-scrollbar-track {
        background-color: #fff;
    }

    .modal_content::-webkit-scrollbar-thumb {
        background-color: #8ce8e8;
        border-radius: 10px;
        border: 3px solid #fff; /* Coloca un borde igual al color del track */
        transition: background-color 0.3s ease; /* Suaviza la transición del color */
    }

    .modal_content::-webkit-scrollbar-thumb:active {
        background-color: #16c4c4; /* Cambia el color del thumb al ser presionado */
    }

    .modal_content::-webkit-scrollbar-button {
        display: none;
    }

    .btn_tbl_1, .btn_tbl_2, .btn_tbl_3, .btn_tbl_4, .btn_tbl_5{
        background-color: #ddf1f1;
        border: 0;
        font-size: 16px;
        cursor: pointer;
        width: 100%;
    }

    .show{
        pointer-events: auto;
        display: flex;
    }

    .dias_asignacion{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 170px auto;
        grid-template-areas:
        "dia_fecha_grid asignacion_grid";
    }

    .dia_fecha_modal_content{
        grid-area: dia_fecha_grid;
        width: 170px;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        display: grid;
        grid-template-rows: 50px 40px;
        grid-template-columns: 140px;
        grid-template-areas:
        "dia_grid"
        "fecha_grid";
    }

    .dia_modal_content{
        font-size: 18px;
        color: #16c4c4;
        grid-area: dia_grid;
    }

    .fecha_modal_content{
        grid-area: fecha_grid;
        padding: 10px;
        border-radius: 10px;
        background-color: #ddf1f1;
    }

    .asig_modal_content, .asig_modal_content_in, .asig_modal_content_fi{
        grid-area: asignacion_grid;
        background-color: #ddf1f1;
        width: 100%;
        padding: 10px;
        padding-bottom: 3%;
    }

    .asig_modal_content_in{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .asig_modal_content_fi{
        padding-bottom: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .one_asig_modal_content{
        display: grid;
        background-color: white;
        width: 100%;
        height: 180px;
        min-height: 130px;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
        grid-template-columns: minmax(180px, 20%) minmax(30px, auto) auto auto;
        grid-template-rows: 26px 18px auto 50px;
        grid-template-areas: 
        "materia blank tipo_tit tipo_tit"
        "tema blank tipo_tit tipo_tit"
        "tema blank indi_princ indi_deta"
        "adjun blank indi_princ indi_deta"
        ;
    }

    .grid_with_buttom{
        grid-template-rows: 26px 18px auto;
        grid-template-areas: 
        "materia blank tipo_tit tipo_tit"
        "tema blank tipo_tit tipo_tit"
        "tema blank indi_princ indi_deta";
    }

    .adjun_boton{
        grid-area: adjun;
        color: white;
        width: 180px;
        background-color: #0e8282;
        height: 50px;
        padding: 10px;
        align-items: center;
        display: flex;
        border-radius: 10px;
        cursor: pointer;
        transition: background 0.3s ease;
    }

    .adjun_boton:hover{
        background-color: #16c4c4;
    }

    .adjun_icon{
        font-size: 20px;
        padding-right: 10px;
    }

    .adjun_font{
        font-size: 12px;
    }

    .asign_content{
        grid-area: contenido_asign;
        margin-left: 50px;
        height: 100%;
        flex-grow: 1;
    }

    .font_mat{
        grid-area: materia;
        font-size: 18px;
        color: #16c4c4;
        margin-bottom: 8px;
    }

    .font_tem{
        grid-area: tema;
        display: block;
        width: 182px;
        height: 100%;
        padding: 8px 0;
        position: relative;
        overflow: auto;
        font-size: 12px;
    }

    .font_tem::-webkit-scrollbar {
        width: 10px; height: 10px;
        
    }

    .font_tem::-webkit-scrollbar-track {
        background-color: #fff;
    }

    .font_tem::-webkit-scrollbar-thumb {
        background-color: #8ce8e8;
        border-radius: 10px;
        border: 3px solid #fff; /* Coloca un borde igual al color del track */
        transition: background-color 0.3s ease; /* Suaviza la transición del color */
    }

    .font_tem::-webkit-scrollbar-thumb:active {
        background-color: #16c4c4; /* Cambia el color del thumb al ser presionado */
    }

    .font_tem::-webkit-scrollbar-button {
        display: none;
    }

    .asign_tit_form, .asign_tit_sum{
        grid-area: tipo_tit;
        font-size: 20px;
        color: white;
        padding: 7px;
        border-radius: 10px;
        max-height: 40px;
    }

    .asign_tit_form{
        background-color: #0588c8;
    }

    .asign_tit_sum{
        background-color: #3ccd00;
    }
    
    .ind_des{
        grid-area: indi_deta;
        font-size: 12px;
        margin-left: 5%;
        max-width: 30vw;
        height: 110px;
        overflow: auto;
    }

    .ind_des::-webkit-scrollbar {
        width: 10px; height: 10px;
    }

    .ind_des::-webkit-scrollbar-track {
        background-color: #fff;
    }

    .ind_des::-webkit-scrollbar-thumb {
        background-color: #8ce8e8;
        border-radius: 10px;
        border: 3px solid #fff; /* Coloca un borde igual al color del track */
        transition: background-color 0.3s ease; /* Suaviza la transición del color */
    }

    .ind_des::-webkit-scrollbar-thumb:active {
        background-color: #16c4c4; /* Cambia el color del thumb al ser presionado */
    }

    .ind_des::-webkit-scrollbar-button {
        display: none;
    }

    .ind_prin{
        grid-area: indi_princ;
        font-size: 14px;
        width: 17vw;
        height: 110px;
        overflow: auto;
    }

    .ind_prin::-webkit-scrollbar {
        width: 10px; height: 10px;
    }

    .ind_prin::-webkit-scrollbar-track {
        background-color: #fff;
    }

    .ind_prin::-webkit-scrollbar-thumb {
        background-color: #8ce8e8;
        border-radius: 10px;
        border: 3px solid #fff; /* Coloca un borde igual al color del track */
        transition: background-color 0.3s ease; /* Suaviza la transición del color */
    }

    .ind_prin::-webkit-scrollbar-thumb:active {
        background-color: #16c4c4; /* Cambia el color del thumb al ser presionado */
    }

    .ind_prin::-webkit-scrollbar-button {
        display: none;
    }

    .pre_asig{
        width: 100%;
        font-size: 10px;
        max-height: 154px;
        overflow: hidden;
        color: #0e8282;
    }

    .pre_asig .sum, .pre_asig .form{
        font-size: 10px;
        padding: 5px;
        background-color: white;
        margin: 0 5px;
        border-radius: 11px;
    }

    .pre_asig .sum{
        color: #3ccd00;
    }

    .pre_asig .form{
        color: #0588c8;
    }

    .tit_mat_prev{
        font-size: 10px;
    }
}
