@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Exa', sans-serif;
}

html, body {
    height: 100%;
}

/* Personalización del scrollbar */
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background-color: #ddf1f1;
}

body::-webkit-scrollbar-thumb {
    background-color: #8ce8e8;
    border-radius: 10px;
    border: 3px solid #ddf1f1; /* Coloca un borde igual al color del track */
    transition: background-color 0.3s ease; /* Suaviza la transición del color */
}

body::-webkit-scrollbar-thumb:active {
    background-color: #16c4c4; /* Cambia el color del thumb al ser presionado */
}

body::-webkit-scrollbar-button {
    display: none;
}

.sidebar .logo-menu{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
}

.sidebar .logo-menu .name{
    margin-left: 5px;
    height: 50px;
    color: #fff;
    pointer-events: none;
    opacity: 0;
    transition: .3s;
}

.sidebar.active .logo-menu .name{
    opacity: 1;
    transition-delay: .2s;
}

.sidebar .logo-menu .toggle-btn{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: .5s;
}

.sidebar.active .logo-menu .toggle-btn{
    left: 85%;
}

.sidebar .list{
    margin-top: 10px;
}

.list .list-item a{
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    white-space: nowrap;
    transition: .5s;
}

.list .list-item a i{
    padding: 0 5px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.list .list-item span{
font-size: 16px;
}

.sidebar .link-name{
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}

.sidebar.active .link-name{
    opacity: 1;
    pointer-events: auto;
    transition-delay: calc(.1s * var(--i));
}



header{
    grid-area: header;
    display: flex;
    top: 0;
    right: 0;
    position: fixed;
    background-color: #8ce8e8;
    font-size: 24px;
    color:#ffffff;
    height: 60px;
    align-items: center;
    text-align: right;
    width: 100%;
    z-index: 1;
    transition: box-shadow 0.3s ease;
}

header.scrolled {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo{
    width: 40px;
    align-items: center;
    margin-right: 10px;
}

.user{
    grid-area: user;
    background-color: #16c4c4;
    border-radius: 16px;
    padding: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 22px;
    height: 100%;
    width: calc(100% - 20px);
    justify-self: end;
    align-self: center;
    margin-right: 20px;
    
}

.user .profile{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    color: #16c4c4;
}

.actividades:hover, .saldo:hover, .promedio:hover{
    background-color: #16c4c4;
}

.panel-title{
    margin: 5px;
    color:#fff;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

.panel-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    background-color: #ffffff;
    align-items: center;
    text-align: center;
    flex: 1;
    width: 100%;
}

.fechas_agen{
    display: none;
}

.show{
    display: block;
}

.up-arrow, .down-arrow{
    font-size: 20px;
    color: #6fdcdc;
    text-align: center;
    padding: 0 4px;
    border-radius: 8px;
    transition: background 0.3s ease;
}

.up-arrow:hover, .down-arrow:hover{
    background-color: #ddf1f1;
    color: #16c4c4;
}

.ver_bol{
    color: #15b3b3;
}

.ver_bol:hover{
    color: #0e8282;
}

.blanco{
    grid-area: blanco;
    height: 10vh;
}

.materia_asign{
    color: #15b3b3;
}

.lines_asign{
    display: flex;
    width: 90%;
}

.linea{
    display: inline;
}

.puntos{
    display: none;
    color: #15b3b3;
}

@media only screen and (max-width: 760px){
    body{
        display: grid;
        grid-template-columns: minmax(50px, auto) 1fr minmax(50px, auto);
        grid-template-rows: 80px minmax(100px, auto) auto auto auto auto minmax(100px, auto);
        grid-template-areas:
        "header header header"
        "espacio blanc blank"
        "espacio user blank"
        "espacio promedios blank"
        "espacio saldo blank"
        "espacio actividades blank"
        "espacio blanco blank";
    }

    .sidebar{ 
        grid-area: sidebar;
        position: fixed;
        top: 0;
        left: 0;
        width: 62px;
        height: 100%;
        padding: 6px 14px;
        transition: .5s;
        z-index: 5;
    }
    
    .sidebar.active{
        width: 280px;
        background: #0e8282;
    }
    
    .list .list-item{
        opacity: 0;
        pointer-events: none;
        list-style: none;
        width: 100%;
        height: 50px;
        margin: 5px 0;
        line-height: 50px;
        cursor: pointer;
    }

    .sidebar.active .list .list-item{
        opacity: 1;
        pointer-events: all;
    }

    .list .list-item.active a:hover{
        background: #4d8787;
    } 

    header{
        height: 80px;
    }

    .user{
        margin: 0;
        justify-self: center;
        max-width: 300px;
        width: none;
    }

    user .profile{
        height: 9.4vw !important;
        width: 9.4vw !important;
        font-size: 10vw !important;
    }

    .promedio, .saldo, .actividades{
        background-color: #80dddd;
        border-radius: 16px;
        padding: 5px;
        align-items: center;
        transition: background 0.3s ease;
        align-self: start;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    
    .promedio{
        grid-area: promedios;
    }
    
    .saldo{
        grid-area: saldo;
    }
    
    .actividades{
        grid-area: actividades;
    }

    .promedio .panel-info, .saldo .panel-info, .actividades .panel-info{
        padding: 20px 0;
    }

    .promedio .panel-info{
        padding: 0 10px;
    }

    .actividades .panel-info{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "boton"
        "asignaciones";
    }

    .actividades .boton{
        grid-area: boton;
        border: 2px #80dddd solid;
        padding: 12px 24px;
        border-radius: 10px;
        width: 50%;
        min-width: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;
        align-self: end;
        height: calc(100% - 10px);
        margin-bottom: 10px;
    }
    
    .asignaciones{
        line-height: 33px;
        grid-area: asignaciones;
        justify-self: end;
        text-align: start;
        width: 90%;
    }

    .down-arrow, .up-arrow{
        transform: rotate(-90deg);
    }

    .down-arrow{
        margin-left: 10px;
    }

    .up-arrow{
        margin-right: 10px;
    }

    @media only screen and (max-width: 400px){
        body{
            grid-template-columns: minmax(20px, auto) 1fr minmax(20px, auto);
        }

        .user .profile{
            height: 120px;
            width: 120px;
            font-size: 130px;
        }
    
        .promedio .panel-info p{
            max-width: 170px;
        }

        .asignaciones{
            justify-self: center;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }

        .asignaciones p{
            display: block;
            width: 60%;
            margin: 0 20%;
        }

        .lines_asign{
            margin-left: 5%;
        }

        .linea{
            display: none;
        }
        
        .puntos{
            display: inline;
        }
    }
}

@media only screen and (min-width: 760px){
    body{
        display: grid;
        grid-template-columns: 62px minmax(50px, auto) 300px auto minmax(50px, auto);
        grid-template-rows: 60px minmax(100px, auto) auto 220px 220px;
        grid-template-areas:
        "sidebar header header header header"
        "sidebar espacio blanc blanc blank"
        "sidebar espacio user promedios blank"
        "sidebar espacio user saldo blank"
        "sidebar espacio actividades actividades blank"
        "sidebar espacio blanco blanco blank";
    }

    .sidebar{ 
        grid-area: sidebar;
        position: fixed;
        top: 0;
        left: 0;
        width: 62px;
        height: 100%;
        background: #0e8282;
        padding: 6px 14px;
        transition: .5s;
        z-index: 5;
    }
    
    .sidebar.active{
        width: 280px;
    }

    .list .list-item{
        list-style: none;
        width: 100%;
        height: 50px;
        margin: 5px 0;
        line-height: 50px;
        cursor: pointer;
    }

    .list .list-item.active a,
    .list .list-item a:hover{
        background: #4d8787;
    } 

    .promedio, .saldo, .actividades{
        background-color: #80dddd;
        border-radius: 16px;
        padding: 5px;
        height: 100%;
        align-items: center;
        transition: background 0.3s ease;
        align-self: end;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    
    .promedio{
        grid-area: promedios;
    }
    
    .saldo{
        margin-top: 20px;
        height: 200px;
        grid-area: saldo;
    }
    
    .actividades{
        grid-area: actividades;
        align-self: start;
        height: 200px;
        margin-top: 20px;
    }

    .promedio .panel-info{
        padding: 10px;
    }

    .actividades .panel-info{
        display: grid;
        grid-template-columns: 130px 1fr;
        grid-template-areas: 
        "boton asignaciones";
    }

    .actividades .boton{
        grid-area: boton;
        border: 2px #80dddd solid;
        padding: 12px 24px;
        border-radius: 10px;
        width: 100px;
        margin: 15px;
        display: inline-block;
        justify-content: center;
        align-items: center;
        height: calc(100% - 30px);
    }
    
    .asignaciones{
        line-height: 33px;
        grid-area: asignaciones;
        text-align: start;
    }
    
}

@media only screen and (min-width: 1130px) {
    body{
        display: grid;
        grid-template-columns: 62px minmax(50px, auto) 300px minmax(340px, 400px) minmax(310px, 370px) minmax(50px, auto);
        grid-template-rows: 60px minmax(100px, auto) 220px 220px minmax(100px, auto);
        grid-template-areas:
        "sidebar header header header header header"
        "sidebar espacio blanc blanc blanc blank"
        "sidebar espacio user promedios saldo blank"
        "sidebar espacio user actividades actividades blank"
        "sidebar espacio blanco blanco blanco blank";
    }

    .sidebar{ 
        grid-area: sidebar;
        position: fixed;
        top: 0;
        left: 0;
        width: 62px;
        height: 100%;
        background: #0e8282;
        padding: 6px 14px;
        transition: .5s;
        z-index: 5;
    }
    
    .sidebar.active{
        width: 280px;
    }

    .list .list-item{
        list-style: none;
        width: 100%;
        height: 50px;
        margin: 5px 0;
        line-height: 50px;
        cursor: pointer;
    }
    
    .list .list-item.active a,
    .list .list-item a:hover{
        background: #4d8787;
    } 

    .promedio, .saldo, .actividades{
        background-color: #80dddd;
        border-radius: 16px;
        padding: 5px;
        height: 100%;
        align-items: center;
        transition: background 0.3s ease;
        align-self: end;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .promedio{
        grid-area: promedios;
        margin-right: 20px;
    }
    
    .saldo{
        grid-area: saldo;
    }
    
    .actividades{
        grid-area: actividades;
        align-self: start;
        height: 200px;
        margin-top: 20px;
    }    
    
    .actividades .panel-info{
        display: grid;
        grid-template-columns: 130px 1fr;
        grid-template-areas: 
        "boton asignaciones";
    }

    .actividades .boton{
        grid-area: boton;
        border: 2px #80dddd solid;
        padding: 12px 24px;
        border-radius: 10px;
        width: 100px;
        margin: 15px;
        display: inline-block;
        justify-content: center;
        align-items: center;
        height: calc(100% - 30px);
    }
    
    .asignaciones{
        line-height: 33px;
        grid-area: asignaciones;
        text-align: start;
    }
}
